<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jeremy Johnstone</string>
	<key>CFBundleDisplayName</key>
	<string>H.264 Flickr Video</string>
	<key>CFBundleIdentifier</key>
	<string>com.jeremyjohnstone.flickrvideo5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>flickr_video.js</string>
			</array>
		</dict>
		<key>Whitelist</key>
		<array>
			<string>http://*.flickr.com/photos/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Want to watch Flickr videos w/o installing Adobe Flash? Thanks to the &lt;video&gt; tag &amp; H.264 you can!</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.flickr.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.jeremyjohnstone.com</string>
</dict>
</plist>
